@media (max-width: 480px){}
@media (min-width: 481px){}

@media (min-width: 769px) {
	.about_heading {
		font-size: 48px;
		font-weight: 400;
	}
	.text_shadow {
		font-size: 16px;
	}
	.server_spec {
		font-size: 18px;
	}
	.header_bottom {
		font-size: 13px;
	}
	.section_heading {
		font-size: 44px;
	}
	.mod_heading {
		font-size: 26px;
	}
	.mod_image {
		height: 132px;
		width: 217px;
	}
	.mod_info {
		font-size: 10px;
	}
	.download {
		height: 50px;
		width: 217px;
		font-size: 14px;
	}
	.gallery_header {
		font-size: 44px;
	}
}
@media (min-width: 1025px){
	.about_heading {
		font-size: 64px;
	}
	.text_shadow {
		font-size: 18px;
	}
	.header_bottom {
		font-size: 14px;
	}
	.section_heading {
		font-size: 60px;
	}
	.mod_heading {
		font-size: 38px;
	}
	.mod_image {
		height: 171px;
		width: 281px;
	}
	.mod_info {
		font-size: 15px;
	}
	.download {
		height: 65px;
		width: 281px;
		font-size: 18px;
	}
	.gallery_header {
		font-size: 60px;
	}
	.server_spec {
		font-size: 20px;
	}

}
@media (min-width: 1201px){}