* {
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
}

.about_cont {
  background-image: url("../img/header_bg.jpg");
  padding: 30px 15px;
}

.about_heading {
  font-family: Kelly-Slab;
  font-size: 64px;
  font-weight: 400;
  background: linear-gradient(180deg, #FFFFFF 0%, #757575 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_shadow {
  font-family: Kelly-Slab;
  font-size: 18px;
  font-weight: 400;
  text-shadow: #000000 4px 3px 5px;
}

.header_bottom {
  font-family: Jura;
  font-size: 14px;
  font-weight: 400;
}

.mods_cont {
  background-image: url("../img/mods_bg.jpg");
  padding: 20px 67px 82px;
}

.section_heading {
  font-family: Kelly-Slab;
  font-size: 60px;
  font-weight: 400;
}

.mod_heading {
  font-family: Kelly-Slab;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
}

.mod_image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.mod_info {
  margin-bottom: 30px;
}
.gallery_cont {
  background-image: url(../img/gallery_bg.jpg);
}
.gallery_header {
  font-family: Kelly-Slab;
  font-size: 60px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 25px;

}
.rating_cont {
  background-image: url(../img/rating_bg.jpg);
  text-align: center;
}
.rating_header {
  font-family: Kelly-Slab;
  font-size: 60px;
  font-weight: 400;
}
.gallery {
  margin-bottom: 130px;

}
.rating_header {
  margin-top: 30px;
  margin-bottom: 45px;

}
.rating {
  margin-bottom: 52px;
  
}
.contacts_cont {
  background-image: url(../img/contacts_bg.jpg);
  padding: 60px 67px 70px 67px;
}
.org {
  font-family: Kelly-Slab;
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}
.webs {
  height: 60px;
  width: 60px;
  border-radius: 0px;
}