.u_1{
	height: 50vh;
	background-color: #005bbc;
}
.u_2{
	height: 50vh;
	background-color: #ffd600;
}
body{
	background-color: hsl(0,0%,80%);
}
.h{
	height: 50vh
}
.t{
	height: 33vh
}
.g_1{
	background-color: #000;
}
.g_2{
	background-color: #dd0000;
}
.g_3{
	background-color: #ffce00;
}
.q{
	height: 25vh;
}
.r_1{
background-color: #dd2418;
}
.r_2{
background-color: #fff;
}
.r_3{
background-color: #66bd24;
}
.r_4{
background-color: #ffc92a;
}
.b1{
	height: 35vh;
	background-color: #6da9d2;
}
.b2{
	height: 7vh;
	background-color: #ffffff;
}
.b3{
	height: 16vh;
	background-color: #000000;
}