.container {
	max-width: 1280px;
	margin: auto;

}
header {
	background: #222222;
}
body {
	margin: 0;
}
.menu {
	display: flex;
	padding: 54px 160px 0;
	justify-content: space-between;
	align-items: center;
}
.menu_list {
	display: flex;
	list-style-type: none;
}
.menu_list li {
	margin-right: 30px;
	text-decoration: none;
}
.menu_list a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #d4d4d4;
}
.menu_left {
	display: flex;
	align-items: center;
	
}
.tel {
	margin-left: 24px;
}
.contacts {
	display: flex;
	align-items: flex-start;
}
.header_bottom {
	display: flex;
	padding: 24px 160px 121px 282px;
	justify-content: space-between;
	align-items: center;

}
.header_content {
	color: #fff;
	min-width: 254px;

}
.header_content h1 {
	font-family: Courier New;
	font-size: 44px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: left;
}
.header_content p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
	margin: 32px 0 54px 0;
}
.header_content button {
	height: 50px;
	width: 240px;
	border-radius: 25px;
	background-color: #FFCB06;
	padding: 17px 22px 17px 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;

	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
}
.advantages {
	background-color: #131313;

}
.advantages_container {
	display: flex;
	padding: 85px 165px 79px 165px;
	justify-content: space-between;
}
.advantages p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
}
.advantages article {
	width: 170px;
}
