.container {
	max-width: 1280px;
	margin: auto;

}
header {
	background: #222222;
}
body {
	margin: 0;
}
.menu {
	display: flex;
	padding: 54px 160px 0;
	justify-content: space-between;
	align-items: center;
}
.menu_list {
	display: flex;
	list-style-type: none;
}
.menu_list li {
	margin-right: 30px;
	text-decoration: none;
}
.menu_list a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #d4d4d4;
}
.menu_left {
	display: flex;
	align-items: center;
	
}
.tel {
	margin-left: 24px;
}
.contacts {
	display: flex;
	align-items: flex-start;
}
.header_bottom {
	display: flex;
	padding: 24px 160px 121px 282px;
	justify-content: space-between;
	align-items: center;

}
.header_content {
	color: #fff;
	min-width: 254px;

}
.header_content h1 {
	font-family: Courier New;
	font-size: 44px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: left;
}
.header_content p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
	margin: 32px 0 54px 0;
}
.header_content button {
	height: 50px;
	width: 240px;
	border-radius: 25px;
	background-color: #FFCB06;
	padding: 17px 22px 17px 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
}
.advantages {
	background-color: #131313;

}
.advantages_container {
	display: flex;
	padding: 85px 165px 79px 165px;
	justify-content: space-between;
}
.advantages p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
}
.advantages article {
	width: 170px;
}
.content_top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.content_container {
	padding: 80px 165px 125px 165px;

}
.content_top_r {
	
}
.content_top img {
	margin-right: 80px;
}
.content h2 {
	font-family: Courier New;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	margin-bottom: 44px;
	margin-top: 0;
}
.content p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}
.content_bottom {
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #000;
}
.content_bottom h2 {
	margin-bottom: 27px;
}
.content_bottom li {
	margin-bottom: 17px;
	padding-left: 23px;
}
.content_bottom ul {
	list-style-image: url(img/mark.svg);
	padding-left: 15px;
}
.content_bottom article:not(:first-child) {
	margin-left: 80px;
}
footer {
	background-color: #131313;
}
.footer_r h3 {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
	margin-bottom: 12px;
}
.footer_r ul {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #888888;
	list-style-type: none;
	padding: 0;
}
.footer_l_b {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #555555;
}
.footer_l_t {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
	display: flex;
	align-items: center;
}
.footer_cont {
	padding: 60px 160px 88px;
	display: flex;
}
.footer_r {
	display: flex;
	justify-content: space-between;

}
.footer_r hr {
	margin-bottom: 58px;
}
.footer_r article li:not(:last-child) {
	margin-bottom: 17px; 
}
.footer_l {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 180px;
	margin-right: 100px;
}
.footer_r article {
	width: 180px;
}
.footer_r article:not(:last-child) {
	margin-right: 100px;
}
.footer_l_t img {
	margin-right: 15px;
}
.schedule {
	background-color: #222;
}
.schedule_container {
	padding: 100px 160px 185px;
}
.schedule_top h2 {
	font-family: Courier New;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #FECA30;
	width: 160px;
}
.schedule_top p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
	width: 470px;
}
.schedule_top p span {
	color: #FECA30;
}
.schedule_top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}
.schedule th {
	background-color: #111111;
	width: 25%;
	padding: 18px 17px 15px;
}
.schedule td {
	border-bottom: 1px solid #555555;
	width: 25%;
	padding: 20px 17px 13px;
}
.schedule table {
	color: #D4D4D4;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	border-collapse: collapse;
	width: 960px;
}