h1,h2,h3 {
	margin: 0;
}
body {
	margin: 0;

}
.cont {
	width: 1440px;
	margin: 0 auto;
}
.header_cont {
	background-image: url(../img/фон.png);
	background-size: cover;
	height: 1024px;
	text-align: center;
	box-sizing: border-box;
}
h1 {
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: 139px;
	letter-spacing: 0em;
	font-family: 'Reggae One', cursive;
}
h2 {
	font-family: Reggae One;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 0em;
}
h3 {

	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 0em;
}
p {
	font-family: Play;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}
.header_cont h1 {
	margin: 0 auto 550px;
	padding-top: 60px;
}
.select_cont {
	background-image: url(../img/фон2.png);
	background-size: cover;
	height: 1024px;
}
.select h2 {
	padding-top: 22px;
	text-align: center;
}
article {
	text-align: center;
	max-width: 350px;
}
.el {
	margin-left: 60px;
}
.header_button {
	background: radial-gradient(50% 50% at 50% 50%, #718743 0%, rgba(113, 135, 67, 0) 100%);
	width: 324px;
	height: 135px;
	border: 0;
	font-family: Reggae One;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	color: #fff;
}
article button {
	background: radial-gradient(50% 50% at 50% 50%, #263343 0%, rgba(92, 110, 146, 0) 100%);
	height: 100px;
	width: 250px;
	border: 0;
	color: #fff;
	font-family: Russo One;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
}
.select_cont {
	height: 1024px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 22px 60px 74px;
}
.select_cont h2 {
	color: #ffffff;
}
.article_cont {
	display: flex;
	color: #FFFFFF;
}
.article_cont h3 {
	font-family: Reggae One;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 0em;
}
article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
article h3 {
	margin-bottom: 23px;
}
.ararat {
	margin-left: 135px;
	margin-right: 135px;
}
.form_cont {
	height: 512px;
	background-image: url(../img/фон3.png);
	background-size: cover;
	padding-left: 100px;
	padding-right: 102px;
	padding-top: 32px;
	width: 1240px;
}
.form_cont h3 {
	color: #fff;
	margin-bottom: 60px;
}
.form_cont input {
	height: 60px;
	width: 608px;
	border-radius: 4px;
	border: 0;
}
input {
	font-family: Playfair Display;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 30px;
}
.input {
	display: flex;
	justify-content: center;
}
.form_cont button {
	height: 70px;
	width: 1300px;
	border-radius: 9px;
	border: 0;
	background-color: #000;
	color: #fff;
	font-family: Playfair Display;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;

}
.form_button {
	display: flex;
	justify-content: center;
}
#name {
	margin-right: 20px;
	margin-bottom: 40px;
}
.footer_cont {
	height: 512px;
	width: 1440px;
	border-radius: 0px;
	background-image: url(../img/фон4.png);
	background-size: cover;
	font-family: Reggae One;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 0em;
	box-sizing: border-box;
	padding: 50px;
}
.footer_cont h3 {
	margin-top: 50px;
	color: #FFFFFF;
;
}
.text img {
	margin-right: 20px;
}
.text {
	margin: 0 0 0 auto;
	float: left;
}
.webs img {
	margin-right: 30px;
}
.webs {
	margin: auto 0 0 0;
	float: right;
}
.mail {
	margin-top: 152px;
}
a {
	text-decoration: none;
}
.elbrus h1 {
	font-family: Reggae One;
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: 139px;
	letter-spacing: 0em;
	text-align: center;
	padding-bottom: 30px;
}
.fotorama {
	border-radius: 0px;
}

.fotorama__wrap {
    margin: 0 auto;
}
.elbrus p {
	font-family: Play;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	margin: auto 122px;
	color: #ffffff;
}
.elbrus {
	background-image: url(../img/эльбрус_фон.png);
	background-size: cover;
}
#button {
	font-family: Russo One;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	color: #E3E6E7;
	background: radial-gradient(50% 50% at 50% 50%, #C56E1B 0%, rgba(193, 110, 20, 0) 100%);
	height: 100px;
	width: 223px;
	border-radius: 0px;
	display: flex;
	margin-right: 122px;
	margin-left: auto;
	justify-content: center;
	align-items: center;
}